
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    height: 750px;
    width: 100%;
    position: absolute;
    top: 0;
}


body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,#13072e,#3f2182);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    position: relative;
}

.active {
    color: #3f2182;
}

.navbar-brand {
    margin: 0 30px;
}


nav ul {
    font-size: 20px;
}

.nav-item a {
    margin: 30px 30px;
}

.navbar-nav h1 {
    color: #fff;
    margin: auto 90px;
    text-transform: uppercase;
    max-width: 400px;
    text-align: center;
}


.bienvenue {
    text-align: center;
    margin-top: 15%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.big-title {
    font-size: 60px;
    font-weight: bolder;
}

.input-content {
    margin-top: 50px;
    text-align: center;
}


input {
    width: 50%;
    outline: none;
    padding: 30px;
    border-radius: 50px;
    background-color: #fff;
    opacity: 0.7;
    border: none;
    cursor: pointer;
} 


input::placeholder {
    color: #000;
    font-size: 24px;
}

.fa {
    color: #fff;
    font-size: 30px !important;
    margin-left: -50px;
}

section {
    position: relative;
    margin-top: 50%;
    text-align: center;
}

section h2 {
    margin-top: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
    max-width: 500px;
    font-size: 40px;
}


section p {
    max-width: 450px;
    font-size: 20px;
    text-align: justify;
}

section button {
    margin: 30px 0 0 -60%;
    padding: 20px 40px;
    background-color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


section button a {
    color: #000;
    text-decoration: none;
}

.hex-image {
    
    height: 500px;
    background-color: #000;
    background-image: url('../assets/images/pol.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(
      20% 0%, 60% 0%, 
      90% 25%, 90% 100%, 
      20% 100%, 0% 40%
    );
  }

  .section-entreprise p, .apropos p {
    text-align: justify; 
    margin-top: 30px;
    line-height: 1.5;
    max-width: 600px;   
  }

  section h1 {
    margin: 0 100px;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #fff;
    font-size: 60px;
  }

  section .content {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    background-image: linear-gradient(to right,#13072e,#3f2182);
    border-radius: 20px;
    padding: 10px;
  }

  section .span {
    color: #fff;
    background-color: #b3aaff;
    width: 100px;
    padding: 5px;
    margin-left: -70%;
  }

  section .span span {
    margin-left: -50px;
    font-size: 20px;
    font-weight: bolder;
}

/* Mission */

.mission h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.mission-container {
    width: 90%;
    margin-left: 5%;
    height: 150px;
    background-image: linear-gradient(to right,#13072e,#3f2182);
    box-shadow: 0px 0px 10px 0px #13072e;
    border: none;
    border-radius: 20px;
}

.container-number {
    width: 120px;
    height: 100px;
    background-color: #4e7896;
    border-radius: 50%;
    margin-left: 50px;

}

.container-number .span-number {
    font-family: cursive;
    font-size: 70px;
}

.mission-container p {
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
    line-height: 1.5;
    max-width: 1000px;
}


.item {
    width: 350px;
    height: 600px;
    text-align: center;
    color: #fff;
    margin: 70px  auto;
    background-image: linear-gradient(to right,#13072e,#3f2182);
    box-shadow: 0px 0px 10px 0px #13072e;
}
    

/* indication */

.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 100%;
    outline: none;
  }

  .owl-carousel .owl-nav .owl-prev {
    width: 200px;
    height: 200px;
    left: calc(50% - 45px);
    
  }

  .owl-carousel .owl-nav .owl-next {
    width: 200px;
    height: 200px;
    right: calc(50% - 45px);
  }

  .owl-nav button {
    width: 50px;
    height: 50px;
    color: #fff;
    background-image: linear-gradient(to right,#13072e,#3f2182);
    border: none;
    border-radius: 20%;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto;
  }

  .owl-nav button .fa {
    margin: 0 ;
  }

  /* Services */

  section .service-box {
    width: 400px;
    height: 600px;
    margin-top: 50px;
    background-image: linear-gradient(to right,#13072e,#3f2182);
    border-radius: 20px;
    padding: 5px;
  }

  .service-box h2 {
    color: #fff;
    font-size: 30px;
  }

  .service-box img {
    width: 300px;
    height: 300px;
  }

  /* programmes */

  section .container-programme {
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

.container-programme ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.container-programme ul li {

    font-size: 25px;
    margin: 0 auto;
    cursor: pointer;
}

.download-cours {
    margin: 30px 0 0 -50%;
}

.download-cours a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}


.container-programme p {
    font-size: 20px;
    color: #fff;
    max-width: 600px;
    text-align: justify;
    margin-top: 150px;
}

.container-programme button {
    background-color: #fff;
    width: 200px;
    margin: 10% 0 0 -65%;
}

.hidden {
    display: none;
}

.ligne {
    border-bottom: 3px solid #fff;
}

/* nous ecrire */

.section-ecrire {
    margin-top: 50px;
}

.section-ecrire .icon {
    margin: 10% 0 0 -30%;
}

.section-ecrire .icon1 {
    margin: 5% 0 0 -5%;
}

.span-contact {
    font-size: 30px;
    color: #fff;
    margin: 0 0 0 2%;
    font-weight: bold;
}


form {
    margin: 5% 0 0 2%;
}

form label {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 5% 0 0 -70%;
}

form .label {
    margin: 5% 0 0 -88%;
}

form input, form textarea, select {
    padding: 30px;
    width: 90px;
    height: 100px;
    margin: 10px auto;
}

.section-ecrire button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin: 5% 0 0 -70%;
}

.scan img {
    margin: 0 0 0 -20%;
}




/* footer */

footer {
    background-image: linear-gradient(to top,#13072e,#3f2182);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}




/*.footer-logo*/


.footer-logo a,.footer-logo a:hover,.footer-logo a:focus{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Rufina', serif;
    font-weight: 700;
    text-transform:uppercase;
    text-decoration: none;
}

.single-footer-widget h2 {
    font-size: 14px;
    color: #eeeff6;
    max-width: 300px;
    margin:0px 0 0 20px;
}

.footer-contact p {
    margin: 0;
    color: #d1d7e9;
}

/*.footer-logo*/

.single-footer-widget {margin-bottom: 40px;}
.single-footer-widget h2 {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 43px;
}

.single-footer-widget ul li {
    display:  inherit;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}


.single-footer-widget ul li:hover{
    -webkit-transform:translateX(10px);
    -moz-transform:translateX(10px);
    -ms-transform:translateX(10px);
    -o-transform:translateX(10px);
    transform:translateX(10px);
}


.single-footer-widget ul li a {
    font-size:  14px;
    color:  #cfd0e3;
    font-weight:  300;
    padding-bottom: 13px;
    text-decoration: none;
}


.single-footer-widget ul li a span {text-transform: lowercase;}



/*hm-foot-email*/

.hm-foot-email{position: relative;}
.foot-email-box .form-control {
    background:#26294d;
    display: block;
    padding: 15px 20px;
    outline:0!important;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    border:0;
}


.foot-email-box input[type="text"]{
    font-size: 12px;
    color: #666c81;
    font-weight: 300;
}


.foot-email-subscribe {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: transparent;
    color: #666c81;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.foot-email-box .form-control:hover{
    box-shadow:0 5px 15px rgba(0,0,0,.4);
}


/*hm-foot-email*/
/*.footer-copyright */


.footer-copyright {
    padding: 20px 0 17px;
    border-top: 1px solid #434859;
    text-align: center;
}


.footer-copyright p,.footer-copyright p a {
    color: #a8a9bf;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}


